@model CompetitionSchedule.Models.RaceSchedule

@{
    ViewData["Title"] = "Race Details";
}

<h1>Race Details</h1>

<div>
    <h4>RaceSchedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionDistances)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionDistances)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
